[submodule "SoulsFormats"]
	path = SoulsFormats
	url = https://github.com/guyathomas/SoulsFormatsNEXT
	shallow = true
[submodule "PromptPlus"]
	path = PromptPlus
	url = https://github.com/FRACerqueira/PromptPlus
	shallow = true
