# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Development artifact

concurrency:
  group: build
  cancel-in-progress: false

on:
  push:
    branches:
      - 'main'
      - 'feat/*'
    tags:
      - '!**'
  pull_request:
    branches: [ "main" ]

env:
  DOTNET_VERSION: '10.0.101'
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
  NEXUSMOD_API_KEY: ${{ secrets.NEXUSMOD_API_KEY }}
  NEXUSMOD_SESSION_COOKIE: ${{ secrets.NEXUSMOD_SESSION_COOKIE }}

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Dotnet cache
        id: cache-dotnet-core
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/.dotnet
          key: ${{ runner.os }}-dotnet-${{ env.DOTNET_VERSION }}

      - name: NuGet cache
        id: cache-nuget
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/.nuget/packages
            ${{ github.workspace }}/packages
            ${{ github.workspace }}/PromptPlus/**/obj
            ${{ github.workspace }}/WitchyBND/**/obj
            ${{ github.workspace }}/WitchyBND.Shell/**/obj
            ${{ github.workspace }}/WitchyFormats/**/obj
            ${{ github.workspace }}/WitchyLib/**/obj
            ${{ github.workspace }}/WitchyTests/**/obj
            ${{ github.workspace }}/SoulsFormats/**/obj
            ${{ github.workspace }}/SoulsOodleLib/**/obj
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.win-x64.lock.json') }}

      - name: Setup .NET
        if: ${{ steps.cache-dotnet-core.outputs.cache-hit != 'true' }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore packages
        if: ${{ steps.cache-nuget.outputs.cache-hit != 'true' }}
        run: dotnet restore -r win-x64 --locked-mode ./WitchyBND.sln --lock-file-path packages.win-x64.lock.json
      
      - name: Build
        run: dotnet build -r win-x64 -c Release --no-restore WitchyTests # Builds WitchyTests which builds WitchyBND which builds WitchyBND.Shell

      - name: Run unit tests
        run: dotnet test -c Release -r win-x64 --no-build --filter TestCategory!=SkipOnGitHubAction

      - name: Publish application
        run: dotnet publish -r win-x64 -c Release --no-build WitchyBND

      # Upload the MSIX package: https://github.com/marketplace/actions/upload-a-build-artifact
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: 'WitchyBND-SHA${{ github.sha }}-win-x64'
          path: './bin/publish/win-x64'

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Dotnet cache
        id: cache-dotnet-core
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/.dotnet
          key: ${{ runner.os }}-dotnet-${{ env.DOTNET_VERSION }}

      - name: NuGet cache
        id: cache-nuget
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/.nuget/packages
            ${{ github.workspace }}/packages
            ${{ github.workspace }}/PromptPlus/**/obj
            ${{ github.workspace }}/WitchyBND/**/obj
            ${{ github.workspace }}/WitchyBND.Shell/**/obj
            ${{ github.workspace }}/WitchyFormats/**/obj
            ${{ github.workspace }}/WitchyLib/**/obj
            ${{ github.workspace }}/WitchyTests/**/obj
            ${{ github.workspace }}/SoulsFormats/**/obj
            ${{ github.workspace }}/SoulsOodleLib/**/obj
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.linux-x64.lock.json') }}

      - name: Setup .NET
        if: ${{ steps.cache-dotnet-core.outputs.cache-hit != 'true' }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore packages
        if: ${{ steps.cache-nuget.outputs.cache-hit != 'true' }}
        run: dotnet restore -r linux-x64 --locked-mode ./WitchyBND.sln --lock-file-path packages.linux-x64.lock.json

      - name: Build
        run: dotnet build -c Release -r linux-x64 --no-restore WitchyTests # Builds WitchyTests which builds WitchyBND which builds WitchyBND.Shell

      - name: Run unit tests
        run: dotnet test -c Release -r linux-x64 --no-build --filter TestCategory!=SkipOnGitHubAction

      - name: Publish application
        run: dotnet publish -c Release -r linux-x64 --no-build WitchyBND

      # Upload the MSIX package: https://github.com/marketplace/actions/upload-a-build-artifact
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: 'WitchyBND-SHA${{ github.sha }}-linux-x64'
          path: './bin/publish/linux-x64'