# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build artifact

on:
  push:
    branches: [ "main" ]
    tags-ignore:
      - '**'
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
      
    - name: Build
      uses: EasyDesk/action-dotnet-build@v1
      with:
        # (Optional) Additional arguments for dotnet build.
        # build-args: -v normal

        # (Optional) Build configuration, defaults to 'Release'.
        # If the version starts with the 'v' prefix, it will be removed to conform to the requirements of dotnet pack.
        build-configuration: Release

        # (Optional) The path of the project to build; if omitted, the whole solution is built.
        path: ./WitchyBND.sln
          
        # (Optional) True if warnings should be treated as errors, defaults to false.
        # warnings-as-errors: true
    
    # Upload the MSIX package: https://github.com/marketplace/actions/upload-a-build-artifact
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: 'WitchyBND-SHA${{ github.sha }}'
        path: ./bin/Release
