# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Development artifact

concurrency:
  group: build
  cancel-in-progress: true

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

env:
  DOTNET_VERSION: '10.0.101'
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
  NEXUSMOD_API_KEY: ${{ secrets.NEXUSMOD_API_KEY }}
  NEXUSMOD_SESSION_COOKIE: ${{ secrets.NEXUSMOD_SESSION_COOKIE }}

jobs:
  get-version:
    runs-on: ubuntu-latest # Cannot use windows
    outputs:
        version: ${{ steps.get-version.outputs.version }}
    steps:
      - name: Get version
        id: get-version
        uses: KinsonDigital/VersionMiner@v1.0.0-preview.2
        with:
        repo-owner: ividyon
        repo-name: WitchyBND
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        branch-name: main
        file-format: xml # Not case sensitive
        file-path: "Directory.Build.props"
        version-keys: Version
        
  build-windows:
    needs: get-version
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Dotnet cache
        id: cache-dotnet-core
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/.dotnet
          key: ${{ runner.os }}-dotnet-${{ env.DOTNET_VERSION }}

      - name: NuGet cache
        id: cache-nuget
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/.nuget/packages
            ${{ github.workspace }}/packages
            ${{ github.workspace }}/PromptPlus/**/obj
            ${{ github.workspace }}/WitchyBND/**/obj
            ${{ github.workspace }}/WitchyBND.Shell/**/obj
            ${{ github.workspace }}/WitchyFormats/**/obj
            ${{ github.workspace }}/WitchyLib/**/obj
            ${{ github.workspace }}/WitchyTests/**/obj
            ${{ github.workspace }}/SoulsFormats/**/obj
            ${{ github.workspace }}/SoulsOodleLib/**/obj
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.win-x64.lock.json') }}

      - name: Setup .NET
        if: ${{ steps.cache-dotnet-core.outputs.cache-hit != 'true' }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore packages
        if: ${{ steps.cache-nuget.outputs.cache-hit != 'true' }}
        run: dotnet restore -r win-x64 --locked-mode ./WitchyBND.sln --lock-file-path packages.win-x64.lock.json

      - name: Build
        run: dotnet build -r win-x64 -c Release --no-restore WitchyTests # Builds WitchyTests which builds WitchyBND which builds WitchyBND.Shell

      - name: Run unit tests
        run: dotnet test -c Release -r win-x64 --no-build --filter TestCategory!=SkipOnGitHubAction

      - name: Publish application
        run: dotnet publish -r win-x64 -c Release --no-build WitchyBND

      - name: Archive release
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: '../../../WitchyBND-${{ needs.get-version.outputs.version }}-win-x64.zip'
          directory: './bin/publish/win-x64'
          path: '.'

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: 'WitchyBND-SHA${{ github.sha }}-win-x64'
          path: WitchyBND-${{ needs.get-version.outputs.version }}-win-x64.zip

  build-linux:
    needs: get-version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Dotnet cache
        id: cache-dotnet-core
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/.dotnet
          key: ${{ runner.os }}-dotnet-${{ env.DOTNET_VERSION }}

      - name: NuGet cache
        id: cache-nuget
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/.nuget/packages
            ${{ github.workspace }}/packages
            ${{ github.workspace }}/PromptPlus/**/obj
            ${{ github.workspace }}/WitchyBND/**/obj
            ${{ github.workspace }}/WitchyBND.Shell/**/obj
            ${{ github.workspace }}/WitchyFormats/**/obj
            ${{ github.workspace }}/WitchyLib/**/obj
            ${{ github.workspace }}/WitchyTests/**/obj
            ${{ github.workspace }}/SoulsFormats/**/obj
            ${{ github.workspace }}/SoulsOodleLib/**/obj
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.linux-x64.lock.json') }}

      - name: Setup .NET
        if: ${{ steps.cache-dotnet-core.outputs.cache-hit != 'true' }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore packages
        if: ${{ steps.cache-nuget.outputs.cache-hit != 'true' }}
        run: dotnet restore -r linux-x64 --locked-mode ./WitchyBND.sln --lock-file-path packages.linux-x64.lock.json

      - name: Build
        run: dotnet build -c Release -r linux-x64 --no-restore WitchyTests # Builds WitchyTests which builds WitchyBND which builds WitchyBND.Shell

      - name: Run unit tests
        run: dotnet test -c Release -r linux-x64 --no-build --filter TestCategory!=SkipOnGitHubAction

      - name: Publish application
        run: dotnet publish -c Release -r linux-x64 --no-build WitchyBND

      - name: Archive release
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: '../../../WitchyBND-${{ needs.get-version.outputs.version }}-linux-x64.zip'
          directory: './bin/publish/linux-x64'
          path: '.'

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: 'WitchyBND-SHA${{ github.sha }}-linux-x64'
          path: WitchyBND-${{ needs.get-version.outputs.version }}-linux-x64.zip

  release:
    if: github.ref == 'refs/heads/main'
    needs: [ get-version, build-windows, build-linux ]
    runs-on: windows-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          pattern: WitchyBND-SHA*

      - name: Upload Release
        uses: ncipollo/release-action@v1
        with:
          tag: '${{ needs.get-version.outputs.version }}'
          artifacts: 'WitchyBND-SHA${{ github.sha }}-win-x64\WitchyBND-${{ needs.get-version.outputs.version }}-win-x64.zip,WitchyBND-SHA${{ github.sha }}-linux-x64\WitchyBND-${{ needs.get-version.outputs.version }}-linux-x64.zip'
          bodyFile: "./NOTES.md"
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          allowUpdates: true
          removeArtifacts: true