# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Development artifact

concurrency:
  group: build
  cancel-in-progress: false

on:
  push:
    branches: [ "main" ]
    tags-ignore:
      - '**'
  pull_request:
    branches: [ "main" ]

env:
  DOTNET_VERSION: '7.0.x'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build application
        run: msbuild -c Release -t:restore -p:RestorePackagesConfig=true ./WitchyBND.sln

      - name: Install NUnit.ConsoleRunner
        run: nuget install NUnit.ConsoleRunner -Version 3.16.3 -DirectDownload -OutputDirectory .

      - name: Run unit tests
        run: ./NUnit.ConsoleRunner.3.16.3/tools/nunit3-console.exe  ./WitchyTests/bin/Release/net7.0-windows/WitchyTests.dll --where "cat != SkipOnGitHubAction"

      - name: Publish application
        run: |
          cd WitchyBND
          dotnet publish -c Release --no-restore

      # Upload the MSIX package: https://github.com/marketplace/actions/upload-a-build-artifact
      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: 'WitchyBND-SHA${{ github.sha }}'
          path: ./bin/publish
